* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    margin: 0 auto;
}
.navbar .logo{
    width: 134px;
    height: 38px;
    cursor: pointer;
}
.navbar .list-menu{
    display: flex;
    width: 379px;
    height: 18px;
    /* padding: 0.75rem 0; */
    position: absolute;
    width: 379px;
    height: 18px;
    left: 282px;
    top: 44px;
    cursor: pointer;
}
.navbar .menu{
    list-style: none;
    padding: 0 1rem;
    margin: 0 0.5rem;
    font-weight: 600;
}
.navbar form input{
    height: 1.5rem;
}
.navbar form > button{
    background: none;
    border: none;
    cursor: pointer;
}