* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background: #8d8dff;
    display: flex;
    justify-content: space-between;
}
.navbar .title{
    padding: 1rem 0 1rem 2rem;
}
.navbar .list-menu{
    display: flex;
    align-items: center;
}
.menu{
    list-style: none;
    padding: 0 1rem;
    margin: 0 0.5rem;
}